# Sobre

Este conjunto de dados fornece informações detalhadas sobre 1000 gatos, oferecendo uma visão abrangente das várias características felinas. Os dados incluem múltiplos atributos, como raça, idade, peso, cor e gênero. Foram meticulosamente curados para representar uma ampla gama de raças de gatos e diferenças individuais.

- **Raça**: Esta coluna especifica a raça de cada gato, incluindo raças populares como Siamês, Maine Coon, Persa, Bengal e mais.
- **Idade (Anos)**: Indica a idade dos gatos em anos, fornecendo uma visão tanto de filhotes jovens quanto de adultos maduros.
- **Peso (kg)**: Registra o peso de cada gato em quilogramas, oferecendo uma visão das variações de tamanho entre diferentes raças e idades.
- **Cor**: Descreve a cor do pelo dos gatos, que pode variar de cores sólidas como preto e branco a padrões mais únicos como malhado e tigrado.
- **Gênero**: Denota o gênero de cada gato, categorizado como Macho ou Fêmea.

# Import

In [1]:
import pandas as pd

# Limpeza e preparo dos dados

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/CelioMaciel179/eda_cats/main/datasets/cats_dataset.csv')
df.head()

              Breed  Age (Years)  Weight (kg)          Color  Gender
0      Russian Blue           19            7  Tortoiseshell  Female
1  Norwegian Forest           19            9  Tortoiseshell  Female
2         Chartreux            3            3          Brown  Female
3           Persian           13            6          Sable  Female
4           Ragdoll           10            8          Tabby    Male

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Breed        1000 non-null   object
 1   Age (Years)  1000 non-null   int64
 2   Weight (kg)  1000 non-null   int64
 3   Color        1000 non-null   object
 4   Gender       1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

## Verificando duplicatas

In [4]:
df.duplicated().sum()

np.int64(5)

In [5]:
duplicatas = df[df.duplicated(keep=False)]
duplicatas

            Breed  Age (Years)  Weight (kg)    Color  Gender
3         Persian           13            6    Sable  Female
29         Birman           17            7  Pointed  Female
69         Birman           17            7  Pointed  Female
178  Egyptian Mau            2            9     Gray    Male
233       Persian           13            6    Sable  Female
287        Ocicat           14            8    Cream    Male
405  Egyptian Mau            2            9     Gray    Male
436        Bengal           18            5    Brown  Female
653        Ocicat           14            8    Cream    Male
834        Bengal           18            5    Brown  Female

In [6]:
df_tratado = df.drop_duplicates()
df_tratado.reset_index(inplace=True, drop=True)
df_tratado.head()

              Breed  Age (Years)  Weight (kg)          Color  Gender
0      Russian Blue           19            7  Tortoiseshell  Female
1  Norwegian Forest           19            9  Tortoiseshell  Female
2         Chartreux            3            3          Brown  Female
3           Persian           13            6          Sable  Female
4           Ragdoll           10            8          Tabby    Male

## Verificando variáveis categoricas

In [7]:
df_tratado['Breed'].unique()

array(['Russian Blue', 'Norwegian Forest', 'Chartreux', 'Persian',
       'Ragdoll', 'Ocicat', 'Abyssinian', 'Oriental', 'Egyptian Mau',
       'American Shorthair', 'Bengal', 'Cornish Rex', 'British Shorthair',
       'Burmese', 'Singapura', 'Maine Coon', 'Turkish Angora',
       'Himalayan', 'Sphynx', 'Manx', 'Siberian', 'Birman', 'Balinese',
       'Devon Rex', 'Exotic Shorthair', 'Scottish Fold', 'Savannah',
       'Munchkin', 'Siamese', 'Tonkinese'], dtype=object)

In [8]:
df_tratado['Color'].unique()

array(['Tortoiseshell', 'Brown', 'Sable', 'Tabby', 'Blue', 'Calico',
       'White', 'Black', 'Pointed', 'Red', 'Tricolor', 'Cream', 'Orange',
       'Gray', 'Bicolor'], dtype=object)

In [11]:
df_tratado['Gender'].unique()

array(['Female', 'Male'], dtype=object)

## Exportar Dados Limpos

In [16]:
# df_tratado.to_csv('.\eda_cats\datasets\cats_limpo.csv', index=False)